* {
        font-family: Space Mono;
}

section, div {
        height: 100%;
        width: 100%;
}

.bg-nav {
        background-color: #182d49;
        border-bottom: 3px groove #e3e0de;

        width: 100%;
        margin: auto;
       }

.hline {
        background-color:#3d3b43 ;
        border-bottom:6px solid;
        width: 100%;
}


#goTop {
        border: none;
        position: fixed;
        bottom: 8px;
        right: 15px;
        font-size: 18px;
        z-index: 1;
    }

body {
        background-color: #e3e0de;
}
.bg-landing {
        background-color: #e3e0de;
}


#projects{
        background-color: #a69cac;
}

.bg-alternate{
        background-color: #b8906d;
}
#emailButton {
        background-color: #b8906d;
}

.contact-text{
        text-color: #3d3b43;
}

.bg-dark-blue{
         background-color: #182d49;
}

.bg-yellow{
         background-color:#e6e0d6 ;
}

.text-dark-blue{
         font-color: #182d49;
}

.text-yellow{
         color:#e6e0d6 ;
}

.fa-facebook {
text-align: center;
  color: white;
  font-size:36px
}

.fa-linkedin {
text-align: center;
color: white;
font-size:36px
}

.fa-github {
text-align: center;
color: white;
font-size:48px
}